html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')
    title= title
    link(rel="stylesheet", href="/css/styles.css" type="text/css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
    .container-fluid
      a(href="/index.html" style="text-decoration:none")
        h1.text-primary.text-center Raccoon Blog
      .main(style="margin:50px 20%")
        h2= title
        p.text-info= author
        div.timestamp= date
        br
        article!= contents
        article-comment
