- var DATE_FORMAT = "DD.MM.YYYY"

html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    title #{site.title} 

    // Bootstrap Core
    link(rel="stylesheet", href="#{site.url}/assets/vendor/bootstrap/css/bootstrap.min.css" )

    // Custom fonst for this template
    link(href='#{site.url}/assets/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')

    // Custom styles for this template
    link(href='#{site.url}/assets/css/clean-blog.min.css', rel='stylesheet')

  body

    // Navigation
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top#mainNav
      .container
        a.navbar-brand(href='#{site.url}/index.html') #{site.title}
        button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation") Menu
        .collapse.navbar-collapse#navbarResponsive
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link(href="#{site.url}/about") About
            li.nav-item
              a.nav-link(href="#{site.url}/contact.html") Contact

    // Page Header
    header.masthead(style="background-image: url('#{site.url}/assets/img/home-bg.jpg')")
      .overlay
      .container
        .row
          .col-lg-8.col-md-10.mx-auto
            .site-heading
              h1 #{site.title} 
              .subheading #{site.subtitle}

    //- Here comes the content including it's container
    // Main Content from default.jade

    block content

    // Footer
    include footer.jade

    // Bootstrap core JavaScript 
    <script src="#{site.url}/assets/vendor/jquery/jquery.min.js"></script>
    <script src="#{site.url}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    // Custom scripts for this template
    <script src="#{site.url}/assets/js/clean-blog.min.js"></script>

